
.quicksearch {
    position: absolute;
    margin-left: 15px;
    margin-top: 10px;
}

.quicksearchHeading {
    text-align: left;
    color: #192f60;
    font-size: 30px;
    font-weight: bold;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding-left: 35px;
}

.quicksearchSubHeading {
    text-align: left;
    color: gray;
    font-size: 18px;
    font-weight: normal;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding-left: 35px;
}

.tileContainer {
    height: 150px;
    width: 350px;
    border-radius: 1px;
    background-color: white;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    box-shadow: 0 3px 6px gray;
    float: left;
    cursor: pointer;
}

.tileComponent1 {
    width: 40%;
    float: left;
}

.tileComponent2 {
    width: 50%;
    float: left;
    margin-top: 10px;
    margin-left: 15px;
}

.componentHeading {
    text-align: left;
    color: #192f60;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.componentSubHeading {
    text-align: left;
    color: gray;
    font-size: 18px;
}