body {
    font-family: sans-serif;
    font-size: 20px;
    height: 1500px;
}

.container {
    background-color: darkgoldenrod;
    border: 1px solid black;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed {
    position: fixed;
    right: 0;
    bottom: 0;
}

.item {
    border: 1px solid blue;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2em;
    font-weight: 600;
    margin: 2%;
}

#item-1 {
    background-color: lightblue;
}

#item-2 {
    background-color: lightcoral;
}

#item-3 {
    background-color: lightgreen;
}

#item-4 {
    background-color: lightsalmon;
}
